---
import Layout from '../layouts/Layout.astro';
import Blogs from '../components/Blogs';
import { Breadcrumbs } from "astro-breadcrumbs";
import 'astro-breadcrumbs/breadcrumbs.css';


---

<Layout title="Blog">
 <div class="absolute pl-10 top-[570px] left-[150px] z-50">
    <Breadcrumbs >
        <svg
        slot="separator"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><polyline points="9 18 15 12 9 6"></polyline>
      </svg>
      <Breadcrumbs />

 </div>
    
    <Blogs client:load/>
   

</Layout>