	---
	import edm from "../images/epepe-google-oglasavanje.jpg"
	import vdm from "../images/epepe-drustvene-mreze.jpg"
	import efo from "../images/epepe-facebook-oglasavanje.jpg"

	---
	<div class="snap-y snap-mandatory h-screen overflow-auto">
		<div class="transition ease-in-out snap-start">
	<main class="relative " >
		<article class="absolute pt-[300px] pl-[200px] md:pl-[350px]  prose-lg md:prose-2xl">
		<p class=" font-semibold">
			Stvaramo orginalne i kreativne <span class="font-bold">Google kampanje</span> s kojima ćete se </br> izdvojiti od konkurencije.
		</p>
	   
		<p>Istaknite svoj brand i dođite odmah do kupaca</p>
		<div class="not-prose"><h1 class=" text-4xl lg:text-8xl pb-8 font-bold">Google ADS</h1></div>
		
		<button class="bg-blue-500 text-xl py-2 px-3 lg:py-4 lg:px-6 text-white rounded-lg  not-prose font-bold group">
		   <div class="flex items-center justify-center">
			<p class="font-bold">Trebam Google oglase </p>
	<div>
		<div class="text-3xl group  w-fit grid" style="clip-path: inset(0 0 0 0 );" >
			<div class="[grid-area:1/1] flex items-center justify-center w-10 transition ease-in-out group-hover:delay-300  -translate-x-10 group-hover:translate-x-0">  →</div>
			<div class="[grid-area:1/1] flex items-center justify-center w-10 transition ease-in-out delay-300 group-hover:delay-[0s] duration-300  group-hover:translate-x-10">  →</div>
		 </div>
	</div>
	</div>
	
		</button>
		</article>
		
		<img src={edm} 
		class="h-screen w-screen object-cover  " />
	</main>
	</div>
	
	<!-- drugi dio -->
	<div class="transition ease-in-out snap-always snap-start">
	<main class="h-full relative " >
		<article class="absolute pt-[300px] pl-[200px] md:pl-[350px]  prose-lg md:prose-2xl">
		<p class="text-white">
		   Facebook i instagram imaju više od <span class="font-bold">2 milijarde korisnika</span> u svijetu. </br>
		   Obratite im se direktno i osvojite njihovu pažnju
		</p>
	   <div class="not-prose">
		<div class="not-prose"><h1 class=" text-white 
			text-4xl lg:text-8xl pb-8 font-bold
			
			">Facebook oglašavanje</h1>
	</div>
	 
			<button class="bg-[#c02787] py-2 px-3 lg:py-4 lg:px-6 text-white rounded-lg  not-prose font-bold group">
	 
	
			<div class="flex items-center justify-center">
				<p>Trebam Facebook oglase  </p>
		<div>
			<div class="text-3xl p-2 group  w-fit grid" style="clip-path: inset(0 0 0 0 );" >
				<div class="[grid-area:1/1] flex items-center justify-center w-10 transition ease-in-out group-hover:delay-300  -translate-x-10 group-hover:translate-x-0">  →</div>
				<div class="[grid-area:1/1] flex items-center justify-center w-10 transition ease-in-out delay-300 group-hover:delay-[0s] duration-300  group-hover:translate-x-10">  →</div>
			 </div>
		</div>
		</div>
		</button>
		</article>
	
		<img src={efo} 
		class="h-screen w-screen object-cover  " />
	</main>
	
	<!-- treći dio -->
	<div class="transition ease-in-out snap-center ">
	<main class="h-full relative snap-center" >
		<article class="absolute pt-[300px] pl-[200px] md:pl-[350px]  prose-lg md:prose-2xl">
		<p class=" font-semibold">
			Kupci vas traže na društvenim mrežama? </br>
			Stvorite najbolji mogući prvi dojam
		</p>
		<div class="not-prose">
		<h1 class="
		text-4xl lg:text-8xl pb-8 font-bold
		">Vođenje društvenih </br> mreža</h1>
	
	
		</div>
	
		<button class="bg-blue-600 py-2 px-3 lg:py-4 lg:px-6 text-white rounded-lg  not-prose font-bold group">
	 
	
			<div class="flex items-center justify-center">
				<p>Trebam društvene mreže  </p>
		<div>
			<div class="text-3xl p-2 group  w-fit grid" style="clip-path: inset(0 0 0 0 );" >
				<div class="[grid-area:1/1] flex items-center justify-center w-10 transition ease-in-out group-hover:delay-300  -translate-x-10 group-hover:translate-x-0">  →</div>
				<div class="[grid-area:1/1] flex items-center justify-center w-10 transition ease-in-out delay-300 group-hover:delay-[0s] duration-300  group-hover:translate-x-10">  →</div>
			 </div>
		</div>
		</div>
		</button>
		</article>
	   
		<img src={vdm} 
		
		class="h-screen w-screen object-cover  " />
	</main>
	
	

