---
import Navbar from '../components/Navbar';
// import { ViewTransitions } from 'astro:transitions';
export interface Props {
	title: string;
}
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="./css/base.css">
		<link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		
	</head>
	<main id="swup" class="transition-fade">


	<body class="relative">
		<div class="fixed top-0 left-0 z-50 w-full">
			<Navbar client:load />
			
		</div>
		<div transition:animate="slide"> 
			<slot />
		</div>
	</main>
	<style>
		@import "../Css/base.css";
	  </style>
	 <script src="../js/app.js"></script>
</body>
</html>